body {
    margin: 0px;
    text-align: center;
    font-family: Merriweather, serif; /*Use Merriweather font but default to serif if there is an issue*/
}

.profile_image {
    border-radius: 50%;
}

.computer_image {
    border-radius: 50%;
}

h1 {
    font-size: 5.625rem; /* 16px = 100% = 1em, rem is Root em which keeps it's value exactly as set*/
    margin-top: 50px;
    font-family: Sacramento, cursive;
}

h2 {
    font-family: Montserrat, sans-serif;
    font-size: 2.5rem;
}

h3 {
    font-family: Montserrat, sans-serif;
}

.pro {
    text-decoration: underline;
}

.top_container {
    background-color: #eaf6f6;
    position: relative;
    padding-top: 100px;
}

.middle_container {

}

.bottom_container {

}

.top_cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom_cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

