body {
    margin: 0px;
    text-align: center;
    font-family: Merriweather, serif;
    /*Use Merriweather font but default to serif if there is an issue*/
}

a {
    color: #11999E;
}

.profile_image {
    margin-top: 100px;
    border-radius: 50%;
}

.computer_image {
    width: 25%;
    margin-right: 30px;
    border-radius: 50%;
    float: left;
}

.chillies_image {
    width: 25%;
    margin-left: 30px;
    float: right;
}

h1 {
    font-size: 5.625rem;
    /* 16px = 100% = 1em, rem is Root em which keeps it's value exactly as set*/
    margin-top: 50px auto 0 auto;
    line-height: 2;
    font-family: Sacramento, cursive;
    color: #66BFBF;
}

h2 {
    font-family: Montserrat, sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
}

h3 {
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    color: #11999E;
}

.pro {
    text-decoration: underline;
}

.top_container {
    background-color: #eaf6f6;
    position: relative;
    padding-top: 100px;
}

.middle_container {}

.bottom_container {}

.top_cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom_cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.skill_row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}